<?xml version="1.0" ?>
<robot name="omniveyor" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Is the xacro interpreted to be used in a Gazebo simulation? -->
  <xacro:arg name="gazebo" default="false"/>
  <!-- The following arguments only takes effect in simulation. -->
  <!-- If the simulation computer has NVIDIA GTX 10xx or above graphics card,
    setting this option to true will accelerate the LiDAR sensor,
    hence significantly speed up the simulation. -->
  <xacro:arg name="gpu_ray_tracing" default="false"/>
  <!-- Sensor configuration. -->
  <xacro:arg name="has_lidar" default="true"/>
  <xacro:arg name="has_front_d435i" default="true"/>
  <xacro:arg name="has_rear_d435i" default="true"/>
  <xacro:arg name="has_t265" default="true"/>
  <!-- RealSense D435i has a full sensor model and a simplified one available.
    Frames, cameras amd geometry modeling are simplified in the simplified model.
    Select which one to use. -->
  <xacro:arg name="simulate_full_sensor_model" default="false"/>

  <xacro:property name="gazebo_property" value="$(arg gazebo)"/>

  <xacro:if value="$(arg gazebo)">
    <xacro:include filename="omniveyor.materials.xacro"/>
    <!-- Gazebo Tags -->
    <!--xacro:include filename="$(find omniveyor_gazebo_world)/models/Omniveyor/omniveyor.gazebo.xacro"/-->
    <xacro:include filename="omniveyor.gazebo.xacro"/>
    <link name="chassis">
      <inertial>
        <origin xyz="0 0 0.192" rpy="0 0 0"/>
        <mass value="29.82"/>
        <inertia ixx="1.209698" ixy="0" ixz="0"
            iyy="1.209698" iyz="0" izz="1.910468"/>
      </inertial>
      <collision>
        <origin xyz="-0.3752 0.3381 0.032" rpy="${pi/2} 0 0"/>
        <geometry>
          <mesh filename="package://omniveyor_common/meshes/OV_Shell.STL"
                scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="-0.3752 0.3381 0.032" rpy="${pi/2} 0 0"/>
        <geometry>
          <mesh filename="package://omniveyor_common/meshes/OV_Shell.STL"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
    </link>
    <joint name="base_link_dummy" type="fixed">
      <parent link="base_link" />
      <child link="chassis" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  </xacro:if>

  <xacro:include filename="omniveyor.realsense.xacro"/>
  <xacro:add_realsense_cameras isGazebo="$(arg gazebo)" hasFrontD435i="$(arg has_front_d435i)"
      hasRearD435i="$(arg has_rear_d435i)" hasT265="$(arg has_t265)" useFullModel="$(arg simulate_full_sensor_model)"/>

  <!--geometric center of omniveyor (on-ground)-->
  <link name="base_link"/>

  <!--Hokuyo 20LX-->
  <link name="laser">
  <xacro:if value="$(arg gazebo)">
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.01" ixy="0" ixz="0"
               iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual name="visual">
      <origin xyz="0 0 -0.0175" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://omniveyor_common/meshes/hokuyo.dae"/>
      </geometry>
    </visual>
    <collision name="collision-base">
      <origin xyz="0 0 -0.032" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.041"/>
      </geometry>
    </collision>
    <collision name="collision-top">
      <origin xyz="0 0 0.003" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.021" length="0.029"/>
      </geometry>
    </collision>
  </xacro:if>
  </link>

  <joint name="laser_joint" type="fixed">
  <!--laser connector from bottom (on-ground) center of omniveyor-->
    <parent link="base_link" />
    <child link="laser" />
    <origin xyz="0.27 0 0.10" rpy="0 0 0" />
  </joint>
  
  <!--xacro:if value="${accurateRealsense != '' and accurateRrealsensePlugin != '' and gazebo_property}">
    <xacro:include filename="$(find omniveyor_gazebo_world)/launch/realsense_accurate_setup.gazebo.xacro"/>
  </xacro:if-->
</robot>
